@import url(http://fonts.googleapis.com/css?family=Rationale);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500);

body {  
    font:16px 'Roboto';  
    color: #222;  
    text-align:center;  
    padding: 0px;
    margin: 0 auto;
    background-color:#CCCC99;
}  

.header {
    position: relative
    top: 0;
    width: 100%;
    height: 50px;
    background-color:#6A6A5A;
    margin-bottom:20px;
}

.header-wrap {
    width:85%;
    margin: 0 auto;
}

.header-wrap img {
  height: 35px;
    width: 35px;
    padding-bottom: 11px;

}

h1 {
    font-family:'Rationale';
    padding:0px;
    margin:0px;
    text-align:left;
    line-height:2.9;
    font-size:28px;
    color:white;
}
   
form, p, span {  
    margin:0;  
    padding:0; }  
   
input { 
   font: 16px helvetica;
    padding-left: 10px;
    height: 35px;
    border-radius: 2px;
    box-shadow: inset 0 2px 18px -6px black;
 }  
   
a {  
    color:white;  
    text-decoration:none;
}  
   
a:hover { 
    text-decoration:underline; 
}  
   
.wrapper, #loginform {  
    margin: 0 auto;
    margin-top: 60px;
    padding-bottom: 25px;
    background: #006699;
    width: 85%;
    min-height: 100%;
    border: 1px solid #006677;
    border-radius: 12px; }  
   
#loginform { padding-top:18px; }  
   
#loginform p { margin: 5px; }  
   
#chatbox {  
    text-align:left;  
    margin:0 auto;  
    margin-bottom:25px;  
    padding:10px;
    background:white;    
    height:270px;  
    width:80%;  
    border:1px solid #ACD8F0;  
    overflow:auto; }  
   
#username {  
    width:25%;  
    border:1px solid #ACD8F0; }

#usermsg {  
    width:60%;  
    border:1px solid #ACD8F0; }  
   
#submitmsg {
    width: 10%; 
    text-align: center;

}  

.name {
    border-right:1px solid #acacac;
    padding-right:10px;
    padding-left:5px;
    background-color:#ebebeb;
    width:15%;
    display:inline-block;
    overflow: hidden;
}
.message {
    margin-left:10px;
}
   
.error { color: #ff0000; }  
   
#menu { padding:12.5px 25px 12.5px 25px; }  
   
.welcome { 
    float:left;
    color:#FCD40F;
 }  
   
.logout { float:right; }  
   
.msgln { margin:0 0 2px 0; }  

.users-message {
    background: #acacac;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:#6A6A5A;
    height:50px;
    margin-top:20px;
}

.footer p {
    text-align: right;
    padding-right:20px;
    line-height: 3
}
